
*.suo
/Debug
/hpsdr/Debug
/ipch
/hpsdr-mod.opensdf
/hpsdr-mod.sdf
/hpsdr-mod.opensdf
/hpsdr-mod.sdf
/hpsdr/Release
/Release
/hpsdr/Smoketest
/Smoketest
/common/Debug
/common/Release
/fftss/Debug
/fftss/Release
/sharptest/bin
/sharptest/obj
/fftss/Smoketest
/cppconv/Debug
/cppconv/Release
/waterfall/Debug
/waterfall/Release
/frame/Debug